html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header'
    'main';
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
    align-items: center;
    border-bottom: 2px solid black;
}

.title {
    font-weight: bold;
}

.new-book {
    background: none;
    border: none;
    font-size: 2rem;
}

.main {
    grid-area: main;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    overflow: auto;
}
